[Unit]
Description=Handles communication between the IVI hardware and the android app
After=connman.service

[Service]
Type=dbus
BusName=org.jaspar
ExecStart=/usr/share/jaspar/ivi-connection-manager/ivi_connection_manager.py
Environment="HOME=/home/root"
Environment="DISPLAY=:0.0"
TimeoutStopSec=10s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
