[Unit]
Description=Headless UPnP Renderer
After=connman.service

[Service]
ExecStart=/usr/lib/gmediarender/gmediarender.sh
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
